*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    position: sticky;
    top:0px;
    width: 100%;
    z-index:1;
    height: 60px;
    background-color: gray;
    box-shadow: 0px 5px 10px black;
}
.Mainlist{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.li{
    background-color: rgb(45, 1, 45);
    padding: 20px;
    border: 2px solid white;
    height: 16px;
}
.li:hover{
    background-color: pink;
}
.li:hover a{
    color: black;
}
#Sublist{
    list-style: none;
    display: none;
}
#sublistplace{
    width:60px;
    color: white;
    text-align: center;
}
#sublistplace:hover{
    color: black;
}
.sli{
    color: white;
    position: relative;
    top: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    right:20px;
    background-color:rgb(45, 1, 45); 
    box-shadow: 0px 0px 10px black;
}
.sli:hover{
    background-color: pink;
    color: black;
}
#sublistplace:hover #Sublist{
    display: block;
}
